<!-- Расширяем базовый шаблон для всех пользователей -->
{% extends 'base.html' %}

<!-- Передаём значение, которое будет в title -->
{% block title %}
    {{ super }}
    Users list
    <!--  Вызываем значение super, который дополняет блок title из базового шаблона. Без этого - полностью заменяем -->
{% endblock %}

<!-- В блок body будем передавать данные из Вьюхи -->
{% block body %}
    <div class="row">
        <div class="col">
          <h1>Users</h1>
            <div>
                {% for user in users %}
                    <ul>
                    <!-- Перебираем из словаря всех пользователей -->
        <!--                <li>-->
        <!--                    № {{ user_id }}: {{ users[user_id] }}-->
        <!--                </li>-->
        <!--            Переделаем отображение спискаюзеров на список ссылок на каждого -->
                        <li class="list-group-item">
                            {{ user.id }}:
                            <a href="{{ url_for('user.profile', pk=user.id) }}">
                                 {{ user.email }} ({{ user.first_name }} {{ user.last_name }})
                            </a>
                        </li>
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>



{% endblock %}