<!-- Расширяем базовый шаблон для просмотра юзера-->
{% extends 'base.html' %}

{% block title %}
    User detail
    <!--    User #{{ user_id }}-->
{% endblock %}

{% block body %}
    <h1>
        Detail of user:
    </h1>
    {% if user %}
        <p>
            Описание юзера:<br><br>
            <b>№ id:</b> {{ user.id }}<br>
            <b>Email:</b> {{ user.email }}<br>
            <b>Имя:</b> {{ user.first_name }}<br>
            <b>Фамилия:</b> {{ user.last_name }}
        </p>
    {% else %}
        <p>
            Пользователь не найден =(
        </p>
    {% endif %}
    <p>
        <a href="{{ url_for('user.user_list') }}">
            <button type="button" class="btn btn-primary">Go back</button>
        </a>
    </p>
{% endblock %}