<!-- Расширяем базовый шаблон для просмотра юзера-->
{% extends 'base.html' %}

{% block title %}
    User detail
    <!--    User #{{ user_id }}-->
{% endblock %}

{% block body %}
    <h1>
        Detail of user:
    </h1>
    {% if user %}
        <p>
            № {{ user.id }}: {{ user.email }}<br>
            Описание юзера
        </p>
    {% else %}
        <p>
            Пользователь не найден =(
        </p>
    {% endif %}
    <p>
        <a href="{{ url_for('user.user_list') }}">
            <button type="button" class="btn btn-primary">Go back</button>
        </a>
    </p>
{% endblock %}